body {
    font-family: 'Garet', 'Times New Roman', Times, serif;
    background-image: url('/images/bglogin.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #2b0f12;
    line-height: 1.6;  ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1.5s ease-in-out;
}

.result-container {
    background-color: #551a25;
    color: white;
    text-align: center;
    padding: 90px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out;
    position: relative;
} 

.logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1.strand {
    font-size: 150px;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.3);
}


.result-container.abm { background-color: #4b0b0b; } 
.result-container.stem { background-color: #004d40; } 
.result-container.humss { background-color: #c06905; } 
.result-container.ict { background-color: #e2df14; } 

p.description {
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    opacity: 0.9;
}

/* Buttons */
.btn-container {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #f4a261;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #e76f51;
    transform: scale(1.05);
}


.go-back-btn {
    background-color: #0000006c;
    padding: 10px 20px;
    font-size: 14px;
}

.go-back-btn:hover {
    background-color: #630909;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


@media screen and (max-width: 1024px) {
    .result-container {
        padding: 60px;
        width: 90%;
    }
    
    h1.strand {
        font-size: 100px;
    }
}

@media screen and (max-width: 768px) {
    .result-container {
        padding: 50px;
    }

    h1.strand {
        font-size: 80px;
    }

    p.description {
        font-size: 14px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .result-container {
        padding: 40px;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    h1.strand {
        font-size: 60px;
    }

    p.description {
        font-size: 13px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 12px;
    }
}
